@font-face {
    font-family: 'TTregular';
    src: url('../assets/fonts/TTRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'TTMedium';
    src: url('../assets/fonts/TTRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type:none ;
    font-family: 'TTregular';
}
button{
    cursor: pointer;
    background-color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
}
h2{
    font-family: 'TTregular';
}